/* Main Styling */

html {
	height: 100%
	width: 100%;
}

body {
	background-image: url(../images/drake.jpg);
	background-color: #000000;
	background-size: cover;
	padding-top: 30px;
	margin-bottom: 50px;
	margin-top: 50px;
	padding-bottom: 50px;
	margin-right:auto;
	margin-left:auto;

}

p {
	color :#fff;
}


.homeP {
	font-family: 'Kaushan Script', cursive;
}

.jumbotron {
	background-color: transparent;
	color: #fff;
	text-align: center;
}

.col-md-4 p {
	font-size: large;
}

.col-md-4 p a {
	color: #ff0000;
}

.col-md-6 p {
	font-size: large;
}

.col-md-6 p a {
	color: #ff0000;
}

#pic img:first-child {
	height: 510px;
	width: 850px;
}

/* Navigation Styling */

.navbar-default {
	background-color:#000000;
	border: none;

}

.navbar-default .navbar-brand {
	color: #fff;
	font-size: xx-large;
	font-family: 'Cookie', cursive, sans-serif;

}

.navbar-default .navbar-brand:hover {
	color: #ff0000;
}

.navbar-default .navbar-brand:focus{
	color :#fff;
}

.nav.navbar-nav.navbar-right li a {
	color: #fff;
	font-size: xx-large;
	font-family: 'Cookie', cursive;
}

.nav.navbar-nav.navbar-right li a:hover, .nav.navbar-nav.navbar-right li a:focus {
	background-color:#000000;
	color:#ff0000;
}

/* Footer Styling */

footer {
    background-color: #000000;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer p {
    float: left;
    text-align: center;
    margin-top: 15px;
}

footer ul {
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: row;
    float: right;
    font-size:35px;
    margin-top: 2px;
}

.fa-twitter {
	margin-right:10px;
	color: #fff;
}

.fa-twitter:hover{
	color: #00aced;
}

.fa-facebook {
	margin-right:10px;
	color: #fff;
}

.fa-facebook:hover{
	color: #3b5998;
}

.fa-instagram {
	margin-right:10px;
	color: #fff;
}

.fa-instagram:hover{
	
	background-image: linear-gradient(45deg, #fccc63, #fbad50, #e95950, #cd486b, #8a3ab9, #4c68d7);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}

.fa-snapchat {
	margin-right:10px;
	color: #fff;
}

.fa-snapchat:hover{
	color: #fffc00;
}

.fa-youtube {
	margin-right:5px;
	color: #fff;
}

.fa-youtube:hover{
	color: #cb2027;
}

/* Albums */

.carousel-inner img {
	margin:auto;
}

.carousel-caption {
	position:relative;
	left:auto;
	right:auto;
	font-size:30px;
	font-family: 'Kaushan Script', cursive;
}

#album {
	height: 370px;
	width: 370px;
}

.nav-pills {
	background-color: #000000
}


.nav-pills a {
	color: #fff;
	font-size:20px;
}

.nav-pills > li > a:hover {
	background-color:#000000;
	color: #ff0000;
}

.nav-pills > li > a:focus {
	background-color:#000000;
	color: #ff0000;
}

.nav-pills > li.active > a {
	background-color: #000000;
	color: #fff;
}

.nav-pills > li.active > a:hover {
	background-color:#000000;
	color: #ff0000;
}

.nav-pills > li.active > a:focus {
	background-color:#000000;
	color: #ff0000;
}

.carousel-inner audio {
	margin:auto;
}

/* Media Queries */

/* Portrait Phone */

@media (min-width: 100px) and (max-width: 480px) {
	
	.navbar-default .navbar-brand {
		font-size: x-large;
	}

	body {
		background-image: url(../images/drake.png);
		background-color :#000000;
		margin-top: 30px;
	}

	#picsize {
		max-width: 100%;
	}

	#pic img:first-child {
		max-width: 100%;
		height:auto;
	}

	footer ul {
    	font-size:25px;
    	text-align: center;
    	padding-top:3px;
    }

    .fa-youtube {
		margin-right:0px;
	}

	footer p {
		font-size: 12px;
	}

}

/* Landscape Phone */

@media (min-width: 481px) and (max-width: 700px) {

	body {
		background-image: url(../images/drake3.jpg);
		margin-top: 30px;
	}

	#picsize {
		max-width: 100%;
	}

	#pic img:first-child {
		max-width: 100%;
		height:auto;
	}

}

/* Portrait Tablet */

@media (min-width: 701px) and (max-width: 900px) {

	body {
		background-image: url(../images/drake.png);
		margin-top: 30px;
	}

	.navbar-default .navbar-brand {
		font-size: x-large;
	}

	.nav.navbar-nav.navbar-right li a {
		font-size: x-large;

	}

	#picsize {
		max-width: 100%;
	}

	#pic img:first-child {
		max-width: 100%;
		height:auto;
	}

}

/* Landscape Tablet */

@media (min-width: 901px) and (max-width: 1050px) {

	body {
		background-image: url(../images/drake6.jpg);
	}

	#picsize {
		max-width: 100%;
	}

	#pic img:first-child {
		max-width: 100%;
		height:auto;
	}

	#tabsize {
		font-size:small;
	}
