
/*************************** Main Styling ***************************/

html {
	height: 100%
	width: 100%;
}

body {
	background-color: #000000;
	background-size: cover;
	padding-top: 30px;
	margin-bottom: 50px;
	margin-top: 50px;
	padding-bottom: 50px;
	margin-right:auto;
	margin-left:auto;
}

p {
	color :#fff;
}

/**************************** Navigation ****************************/ 

.navbar-default {
	background-color:#000000;
}

.navbar-default .navbar-brand {
	color: #fff;
	font-size: xx-large;
	font-family: 'Cookie', cursive, sans-serif;
}

.navbar-default .navbar-brand:hover {
	color: #ff0000;
}

.navbar-default .navbar-brand:focus{
	color :#fff;
}

.nav.navbar-nav.navbar-right li a {
	color: #fff;
	font-size: xx-large;
	font-family: 'Cookie', cursive;
}

.nav.navbar-nav.navbar-right li a:hover, .nav.navbar-nav.navbar-right li a:focus {
	background-color:#000000;
	color:#ff0000;
}

.navbar-fixed-top {
	border-bottom: solid;
	border-color :#fff;
}

/**************************** Footer ****************************/

.navbar-fixed-bottom {
	border-top: solid;
	border-color :#fff;
}

footer {
    background-color: #000000;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer p {
    float: left;
    text-align: center;
    margin-top: 15px;
}

footer ul {
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: row;
    float: right;
    font-size:35px;
    margin-top: 2px;
}

.fa-twitter {
	margin-right:10px;
	color: #fff;
}

.fa-twitter:hover{
	color: #00aced;
}

.fa-facebook {
	margin-right:10px;
	color: #fff;
}

.fa-facebook:hover{
	color: #3b5998;
}

.fa-instagram {
	margin-right:10px;
	color: #fff;
}

.fa-instagram:hover{
	
	background-image: linear-gradient(45deg, #fccc63, #fbad50, #e95950, #cd486b, #8a3ab9, #4c68d7);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}

.fa-snapchat {
	margin-right:10px;
	color: #fff;
}

.fa-snapchat:hover{
	color: #fffc00;
}

.fa-youtube {
	margin-right:5px;
	color: #fff;
}

.fa-youtube:hover{
	color: #cb2027;
}

/***************************  Home Template ***************************/ 

.homeP {
	font-family: 'Kaushan Script', cursive;
}

.jumbotron {
	background-color: transparent;
	color: #fff;
	text-align: center;
}

#homePic {
	position:relative;
	margin-left:730px;
	margin-top:-235px;
	z-index:-1;
	-moz-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);

}

/*************************** About Template ****************************/

.col-md-4 p {
	font-size: large;
}

.col-md-4 p a {
	color: #ff0000;
}

.col-md-6 p {
	font-size: large;
}

.col-md-6 p a {
	color: #ff0000;
}

#pic img:first-child {
	height: 510px;
	width: 850px;
}

/*************************** Albums Template ***************************/

/******************************** Albums *******************************/

.image1, .image2 {
	display: inline-block;
   	text-align:center;
}

.image1 {
	margin-left: 250px
}

.image2 {
	margin-left: 80px;
}

.carousel-caption {
	position:relative;
	left:auto;
	right:auto;
	font-size:30px;
	font-family: 'Kaushan Script', cursive;
}

#album {
	height: 370px;
	width: 370px;
}

.nav-pills {
	background-color: #000000;
	display:flex;
	justify-content: center;
}

.nav-pills a {
	color: #fff;
	font-size:20px;
	margin-top: 5px;
}

.nav-pills > li > a:hover {
	background-color:#000000;
	color: #ff0000;
}

.nav-pills > li > a:focus {
	background-color:#000000;
	color: #ff0000;
}

.nav-pills > li.active > a {
	background-color: #000000;
	color: #fff;
}

.nav-pills > li.active > a:hover {
	background-color:#000000;
	color: #ff0000;
}

.nav-pills > li.active > a:focus {
	background-color:#000000;
	color: #ff0000;
}

/******************************** Audio ********************************/



/**************************** Media Queries ****************************/

/**************************** Portrait Phone ***************************/

@media (min-width: 100px) and (max-width: 480px) {
	
	.navbar-default .navbar-brand {
		font-size: x-large;
	}

	#homePic {
		display:flex;
		justify-content:center;
		width:100%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
		margin-top:-120px;
	}

	body {
		background-color :#000000;
		margin-top: 30px;
	}

	#picsize {
		max-width: 100%;
	}

	#pic img:first-child {
		max-width: 100%;
		height:auto;
	}

	footer ul {
    	font-size:25px;
    	text-align: center;
    	padding-top:3px;
    }

    .fa-youtube {
		margin-right:0px;
	}

	footer p {
		font-size: 12px;
	}

}

/**************************** Landscape Phone ***************************/

@media (min-width: 481px) and (max-width: 700px) {

	body {
		background-image: url(../images/drake3.jpg);
		margin-top: 30px;
	}

	#picsize {
		max-width: 100%;
	}

	#pic img:first-child {
		max-width: 100%;
		height:auto;
	}

	#homePic {
		display:none;
	}

}

/**************************** Portrait Tablet ***************************/

@media (min-width: 701px) and (max-width: 900px) {

	body {
		background-image: url(../images/drake.png);
		margin-top: 30px;
	}

	.navbar-default .navbar-brand {
		font-size: x-large;
	}

	.nav.navbar-nav.navbar-right li a {
		font-size: x-large;

	}

	#picsize {
		max-width: 100%;
	}

	#pic img:first-child {
		max-width: 100%;
		height:auto;
	}

}

/**************************** Landscape Tablet ***************************/

@media (min-width: 901px) and (max-width: 1050px) {

	body {
		background-image: url(../images/drake6.jpg);
	}

	#picsize {
		max-width: 100%;
	}

	#pic img:first-child {
		max-width: 100%;
		height:auto;
	}

	#tabsize {
		font-size:small;
	}
