body {
	background-image: url(../images/drake.png);
	background-size: cover;
	padding-top: 50px;
}

.navbar-default {
	background-color:#000000;
	border: none;

}

.navbar-default .navbar-brand {
	color: #fff;
	font-size: xx-large;
	font-family: 'Cookie', cursive;

}

.nav.navbar-nav.navbar-right li a {
	color: #fff;
}

li {
	font-size: xx-large;
	font-family: 'Cookie', cursive;
}

