/* Main Body Styling */

body {
	background-image: url(../images/drake.png);
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-right:auto;
	margin-left:auto;

}

p {
	color :#fff;
}

/* Navigation Styling */

.navbar-default {
	background-color:#000000;
	border: none;

}

.navbar-default .navbar-brand {
	color: #fff;
	font-size: xx-large;
	font-family: 'Cookie', cursive;

}

.navbar-default .navbar-brand:hover {
	color: #ff0000;
}

.navbar-default .navbar-brand:focus{
	color :#fff;
}

.nav.navbar-nav.navbar-right li a {
	color: #fff;
	font-size: xx-large;
	font-family: 'Cookie', cursive;
}

.nav.navbar-nav.navbar-right li a:hover, .nav.navbar-nav.navbar-right li a:focus {
	background-color:#000000;
	color:#ff0000;
}

/* Footer Styling */

footer {
    background-color: #000000;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer p {
    float: left;
    text-align: center;
    margin-top: 15px;
}

footer ul {
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: row;
    float: right;
    font-size:35px;
    margin-top: 2px;
}

.fa-twitter {
	margin-right:10px;
	color: #fff;
}

.fa-twitter:hover{
	color: #00aced;
}

.fa-facebook {
	margin-right:10px;
	color: #fff;
}

.fa-facebook:hover{
	color: #3b5998;
}

.fa-instagram {
	margin-right:10px;
	color: #fff;
}

.fa-instagram:hover{
	color: linear-gradient(45deg, #fccc63 25%, #fbad50 50%, #cd486b 75%, #8a3ab9 100%);
}

.fa-snapchat {
	margin-right:10px;
	color: #fff;
}

.fa-snapchat:hover{
	color: #fffc00;
}

.fa-youtube {
	margin-right:5px;
	color: #fff;
}

.fa-youtube:hover{
	color: #cb2027;
}