<!-- Audio Player -->

<!-- Amazing Audio Plugin -->

<div id="amazingaudioplayer-1" style="display:block;position:relative;width:300px;height:auto;margin:0px auto 0px;">
    
    <ul class="amazingaudioplayer-audios" style="display:none;">
        <li data-artist="Drake And Wizkid" data-title="Closer" data-album="" data-info="" data-image="images/drakewizkid.jpg" data-duration="213">
            <div class="amazingaudioplayer-source" data-src="audio/closer.mp3" data-type="audio/mpeg" />
            <div class="amazingaudioplayer-source" data-src="audio/closer.ogg" data-type="audio/ogg" />
        </li>
        <li data-artist="Drake" data-title="Just Hold On (Kastle Remix)" data-album="" data-info="" data-image="images/holdon.png" data-duration="276">
            <div class="amazingaudioplayer-source" data-src="audio/holdon.mp3" data-type="audio/mpeg" />
            <div class="amazingaudioplayer-source" data-src="audio/holdon.ogg" data-type="audio/ogg" />
        </li>
        <li data-artist="Drake And Rihanna" data-title="Take Care" data-album="" data-info="" data-image="/images/drake7.jpg" data-duration="249">
            <div class="amazingaudioplayer-source" data-src="audio/takecare.mp3" data-type="audio/mpeg" />
            <div class="amazingaudioplayer-source" data-src="audio/takecare.ogg" data-type="audio/ogg" />
        </li>
    </ul>

    <script src="js/amazingaudioplayer.js"></script>
    <script src="js/initaudioplayer-1.js"></script>
    
</div>