<!-- Audio Player -->

<div id="audioContainer">

    <!-- Poster Image -->

    <figure>
        <img id="audioPic" src="images/drake7.jpg">
    </figure>

    <!-- Audio Controls -->

    <audio src="" controls id="audioPlayer">
        Sorry, your browser does not support this audio playlist!
    </audio>

    <!-- Audio Playlist -->

    <ul id="playlist">
        <li class="current-song"> <a href="audio/takecare.mp3">Take Care </a> </li>
        <li> <a href="audio/holdon.mp3">Just Hold On (Kastle Remix) </a> </li>
        <li> <a href="audio/closer.mp3">Closer </a> </li>
    </ul>

</div>

<!-- Script Link For Playlist Functionality -->

<script type="text/javascript" src="js/audio-player.js" </script>