<!-- Audio Player -->

<div id="audioContainer">

    <!-- Poster Image -->

    <figure>
        <img id="audioPic" src="images/drake7.jpg">
    </figure>

    <!-- Audio Controls -->

    <audio src="" controls id="audioPlayer">
        Sorry, your browser does not support this audio playlist!
    </audio>

    <!-- Audio Playlist -->

    <ul id="playlist">
        <li class="current-song"> <a href="audio/takecare.mp3">Take Care </a> </li>
        <li> <a href="audio/holdon.mp3">Just Hold On (Kastle Remix) </a> </li>
        <li> <a href="audio/closer.mp3">Closer </a> </li>
    </ul>

</div>

<!-- Script For Playlist Functionality -->

<script>

    audioPlayer ();
    function audioPlayer(){
        var currentSong = 0;
        $("#audioPlayer")[0].src = $("#playlist li a")[0];
        $("#playlist li a").click(function(e){
           e.preventDefault(); 
           $("#audioPlayer")[0].src = this;
           $("#audioPlayer")[0].play();
           $("#playlist li").removeClass("current-song");
            currentSong = $(this).parent().index();
            $(this).parent().addClass("current-song");
        });
        
        $("#audioPlayer")[0].addEventListener("ended", function(){
           currentSong++;
            if(currentSong == $("#playlist li a").length)
                currentSong = 0;
            $("#playlist li").removeClass("current-song");
            $("#playlist li:eq("+currentSong+")").addClass("current-song");
            $("#audioPlayer")[0].src = $("#playlist li a")[currentSong].href;
            $("#audioPlayer")[0].play();
        });
    }

</script>