<!-- Image Carousel -->

<div id="myCarousel1" class="carousel slide" data-ride="carousel">
  
  <!-- Indicators -->

  <ol class="carousel-indicators">
    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel1" data-slide-to="1"></li>
    <li data-target="#myCarousel1" data-slide-to="2"></li>
    <li data-target="#myCarousel1" data-slide-to="3"></li>
    <li data-target="#myCarousel1" data-slide-to="4"></li>
    <li data-target="#myCarousel1" data-slide-to="5"></li>
    <li data-target="#myCarousel1" data-slide-to="6"></li>
    <li data-target="#myCarousel1" data-slide-to="7"></li>
    <li data-target="#myCarousel1" data-slide-to="8"></li>
    <li data-target="#myCarousel1" data-slide-to="9"></li>
  </ol>

  <!-- Wrapper -->

  <div class="carousel-inner" role="listbox">

    <!-- Slides -->

    <div class="item active">
      <div class ="image1">
        <img id="album" src="images/roomforimprovement.jpg" alt="Room For Improvement Album">
      </div>
      <div class="image2">
        <img id="album" src="images/roomlist.png" alt="Room For Improvement Track List">
      </div>
      <div class="carousel-caption">
        <p>Room For Improvement</p>
      </div>
    </div>

    <div class="item">
      <div class ="image1">
        <img id="album" src="images/comebackseason.jpg" alt="Comeback Season Album">
      </div>
      <div class="image2">
        <img id="album" src="images/comebacklist.png" alt="Comeback Season Track List">
      </div>
      <div class="carousel-caption">
        <p>Comeback Season</p>
      </div>
    </div>

    <div class="item">
      <div class ="image1">
        <img id="album" src="images/sofargone.jpg" alt="So Far Gone Album">
      </div>
      <div class="image2">
        <img id="album" src="images/sofarlist.png" alt="So Far Gone Track List">
      </div>
      <div class="carousel-caption">
        <p>So Far Gone</p>
      </div>
    </div>

    <div class="item">
      <div class="image1">
        <img id="album" src="images/thankmelater.png" alt="Thank Me Later Album">
      </div>
      <div class="image2">
        <img id="album" src="images/thankmelist.png" alt="Thank Me Later Track List">
      </div>
      <div class="carousel-caption">
        <p>Thank Me Later</p>
      </div>
    </div>

    <div class="item">
      <div class="image1">
        <img id="album" src="images/takecare.jpg" alt="Take Care Album">
      </div>
      <div class="image2">
        <img id="album" src="images/takecarelist.png" alt="Take Care Track List">
      </div>
      <div class="carousel-caption">
        <p>Take Care</p>
      </div>
    </div>

    <div class="item">
      <div class="image1">
        <img id="album" src="images/nothingwasthesame.png" alt="Nothing Was The Same Album">
      </div>
      <div class="image2">
        <img id="album" src="images/nothinglist.png" alt="Nothing Was The Same Track List">
      </div>
      <div class="carousel-caption">
        <p>Nothing Was The Same</p>
      </div>
    </div>

    <div class="item">
      <div class="image1">
        <img id="album" src="images/ifyourereadingthis.png" alt="If You're Reading This It's Too Late Album">
      </div>
      <div class="image2">
        <img id="album" src="images/readinglist.png" alt="If You're Reading This It's Too Late Track List">
      </div>
      <div class="carousel-caption">
        <p>If You're Reading This It's Too Late</p>
      </div>
    </div>

    <div class="item">
      <div class="image1">
        <img id="album" src="images/whatatime.jpg" alt="What A Time To Be Alive ALbum">
      </div>
      <div class="image2">
        <img id="album" src="images/timelist.png" alt="What A Time To Be Alive Track List">
      </div>
      <div class="carousel-caption">
        <p>What A Time To Be Alive</p>
      </div>
    </div>

    <div class="item">
      <div class="image1">
        <img id="album" src="images/views.jpg" alt="Views Album">
      </div>
      <div class="image2">
        <img id="album" src="images/viewslist.png" alt="Views Track List">
      </div>
      <div class="carousel-caption">
        <p>Views</p>
      </div>
    </div>

    <div class="item">
      <div class="image1">
        <img id="album" src="images/morelife.jpg" alt="More Life Album">
      </div>
      <div class="image2">
        <img id="album" src="images/morelifelist.png" alt="More Life Track List">
      </div>
      <div class="carousel-caption">
        <p>More Life</p>
      </div>
    </div>

  </div>

  <!-- Left and right controls -->

  <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  
</div>