<div class="containerForm">
    <div class="row">
        <div class="col-xs-12">
            <fieldset>
                <legend>Enquiry Form</legend>
                <form name="enquiryForm" data-ng-submit="submitForm()" novalidate>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" name="firstname" class="form-control" data-ng-model="user.firstname" required>
                        <p data-ng-show="enquiriesForm.firstname.$pristine" class="help-block">Your Name Is Required</p>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" name="lastname" class="form-control" data-ng-model="user.lastname" required>
                        <p data-ng-show="enquiriesForm.lastname.$pristine" class="help-block">Your Last Name Is Required</p>
                    </div>
                    <div class="form-group">
                        <label>E-Mail</label>
                        <input type="email" name="email" class="form-control" data-ng-model="user.email" required>
                        <p data-ng-show="enquiriesForm.email.$pristine" class="help-block">Your E-Mail Is Required</p>
                    </div>
                    <div class="form-group">
                        <label>Event Type</label>
                        <select type="text" name="eventtype" class="form-control" data-ng-model="user.eventtype" required>
                            <option value="wedding">Wedding</option>
                            <option value="birthday">Birthday</option>
                            <option value="private-function">Private Function</option>
                            <option value="school-prom">School Prom</option>
                            <option value="new-year">New Year</option>
                        </select>
                        <p data-ng-show="enquiriesForm.eventtype.$pristine"></p>
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" name="date" class="form-control" data-ng-model="user.date" required>
                        <p data-ng-show="enquiriesForm.date.$pristine">
                    </p>
                    <br>
                    <button type="submit" class="btn btn-default" data-ng-disabled="enquiriesForm.$invalid">Send Enquiry</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>