<div class="containerForm">
    <div class="row">
        <div class="col-xs-12">
            <fieldset>
                <legend>Enquiry Form</legend>
                <form name="enquiryForm" id="enquiryForm" novalidate>
                   

                    <div class="form-group">
                        <label for="name">First Name</label>
                        <input type="text" name="name" class="form-control" data-ng-model="name" required placeholder="Please enter your name">
                        <div class="invalid-form" ng-show="noNameEntered">
                            Please enter your name!
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input type="email" name="email" class="form-control" data-ng-model="email" required placeholder="Please enter your e-mail">
                        <div class="invalid-form" ng-show="noEmailEntered">
                            Please enter a valid E-Mail!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="enquiries">Enquiries</label>
                        <textarea rows="5" cols="50" name="enquiries" class="form-control" data-ng-model="enquiries" required placeholder="Please enter your enquiries or questions here"> </textarea>
                        <div class="invalid-form" ng-show="noEnquiryEntered">
                            Please let us know your enquiries or comments so we can aim to get back to you as soon as possible!
                        </div>
                    </div>

                    <button id="formButton" type="submit" value="Submit" ng-click="submitForm()">Submit Enquiry</button>

                </form>
            </fieldset>
        </div>
    </div>
</div>
                    
                    
                   